<% include ./partials/head.ejs %>

	<h2>Hashtag Analyser tool</h2>

	
	<form action="/hashtag" method='get'>
	<label> Enter Hashtag
		<input type="text" name='hashtag'>
	</label>
	<input type="submit" value='Submit'>
	</form>
	
	
<% include ./partials/foot.ejs %>