<% include ../partials/head.ejs %>

<main>
	<section>
		<ul>
		
		</ul>
	</section>
</main>

<script src='./script/threadify.js'></script>
<script src='./script/brain.js'></script>
<script src='./script/nn.js'></script>
<% include ../partials/foot.ejs %>